* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerHomeFixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.801);
    padding: 15px;
}
.navigation {
    width: 80%;
}
.navigation a {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.navigation a:hover {
    color: gray;
}
.homeMain {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.836)),
    url("assets/homeBg.webp");
    
  background-size: cover;
  
}
.containerHome {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.farstyName {
    font-size: 100px;
    font-weight: 500;
    color: white;
} 
.lastName{
    margin-top: -35px;
    font-size: 100px;
    font-weight: bold;
    color: white;
}
.function {
    margin-top: -10px;
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 100;
    color: white;
}
.btnHome {
    margin-top: 10px;
    width: 20%;
    height: 40px;
    font-size: 18px;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.btnHome a {
  text-decoration: none;
  color: white;
}
.btnHome:hover {
    opacity: 80%;
}
@media(max-width:600px){
    .containerHome {
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    .lastName{
        margin-top: -35px;
        font-size: 80px;
        font-weight: bold;
        color: white;
    }
    .function {
        margin-top: -10px;
        font-size: 15px;
        letter-spacing: 10px;
        font-weight: 100;
        color: white;
    }
    .btnHome {
        margin-top: 10px;
        width: 30%;
        height: 40px;
        font-size: 18px;
        border: solid 1px white;
        border-radius: 10px;
        color: white;
        background-color: transparent;
        cursor: pointer;
    }
}
.footerHome {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin-left: 30px;
  padding-bottom: 20px;
}
.footerHome a {
    text-decoration: none;
    color: white;
}
.imgIcon {
    cursor: pointer;
    margin-left: 8px;
    width: 20px;
}
.imgIcon:hover {
    width: 22px;
}

.aboutSection{
    background-image: url(assets/bgsecond.webp);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.abouttext {
    width:40%;
}
.aboutTitle {
    font-size: 50px;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(0, 255, 255, 0.555);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
.aboutResume {
    font-size: 18px;
    color: white;
}
.adreassAbout {
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(0, 255, 255, 0.555);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
.imgAbout{
    text-align: center;
    width: 40%;
}
.joaoimg{
    width: 80%;
}
@media(max-width:600px){
    .aboutSection{
        background: 
        linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
        url("assets/bgsecond.webp");
        flex-direction: column-reverse;
    }
    .abouttext {
        width: 90%;
    }
    .adreassAbout {
        margin-bottom: 20px;
    }
    .imgAbout{
        text-align: center;
        width: 80%;
    }
}


.carousel-section {
  width: 100%;
  padding: 60px 0;
  background: #000000;
  display: flex;
  justify-content: center;
}

.carousel-container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  align-items: center;
}

.card {
  min-width: 300px;
  height: 400px;
  margin: 0 15px;
  transition: all 0.4s ease;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estado padrão (laterais) */
.card {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.85);
}

/* Card ativo (centro) */
.card.active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
}

/* Botões */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #000000;
  border: none;
  color: #fff;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 0; }
.next { right: 0; }

/* MOBILE */
@media (max-width: 768px) {
  .carousel-track {
    justify-content: center;
  }

  .card {
    min-width: 80%;
    margin: 0;
  }

  .card:not(.active) {
    display: none;
  }
}


.contact-section {
  padding: 80px 20px;
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  max-width: 1100px;
  width: 100%;
  background: #000000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 2px  rgba(255, 255, 255, 0.404);
}

/* IMAGEM */
.contact-image {
  display: flex;
  align-items: center;
  width: 50%;
}

.contact-image img {
  
  margin-left: 20%;
  width: 60%;
  object-fit: cover;
}

/* FORM */
.contact-form {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-form p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}

/* INPUTS */
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #2a2a2a;
  color: #fff;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

/* BOTÃO */
.contact-form button {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #ffffff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #00cc6a;
}

/* MOBILE */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-image {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}