* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button a {
    text-decoration: none;
}
body {
    background-color: rgba(0, 0, 0);
}
#Navigation {
    background-color: rgb(0, 0, 0);
    height: 80px;
}
#Navigation ul {
    margin-top: 30px;
    float: right;
}
#Navigation ul a {
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(167, 172, 170);
    font-weight: 600;
}
a:hover {
    cursor: pointer;
}
#Navigation img {
    height: 80px;

}
#Main {
    background-image: url(image/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: cover;

}
#Main_Conteudo {
    width: 100%;
    height: 520px;
    display: flex;

}
#Main_Txt {
    margin-left: 15%;
    margin-top: 100px;
    width: 45%;
    height: 400px; 
    margin: 2rem 1rem;
    width: 45%;
    overflow: hidden;
    color: #FFF;
    white-space: nowrap;
    animation: caret .12s step-end infinite alternate,
                type 2s steps(23, end)
      
}
#Main_Txt .txt {
    margin-left: 20%;
}

@keyframes type {
    0% {
      width: 0;
    }
  
  }
  @keyframes caret { 
    50% { 
      box-shadow: .6em 0 0 transparent;
    }
  }
#Main_Txt .p1 {
    margin-top: 70px;
    margin-left: 115px;
}
#Main_Txt h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 115px;
}
#Main_Txt p {
    font-size: 19px;
    line-height: 23px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Main_Conteudo #Img_Conteudo {
    width: 45%;

}
#Main_Conteudo #Img_Conteudo img{
    margin-top: 100px;
    height: 300px;
}
@media (max-width: 400px) {
    #Main_Conteudo #Img_Conteudo {
        display: none;
    }
    #Main_Txt {
        margin-top: 40px;
        width: 100%;
        font-size: 12px;
    }
    #Main_Txt .txt {
        margin-left:  0%;
    }
    
}

#Container_Projects {
    margin-top: 30px;
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
}
#Txt_Projects {
    margin-left: 5%;
    width: 80%;
    text-align: center;
}
#Projects {
    margin-top: 5px;
    width: 100%;
}
#ProjetosDV1 {
    justify-content: center;
    display: flex;
}
#ProjetosDV1 ul {
    margin: auto;
    padding: 50px;
    

}
#ProjetosDV1 ul img {
    height: 100px;
}
#ProjetosDV2 {
    justify-content: center;
    margin-top: 5px;
    display: flex;
}
#ProjetosDV2 ul {
    margin: auto;
    padding: 50px;
    

}
#ProjetosDV2 ul img {
    height: 110px;
    width: 200px;

}
.Contato_Container {
    background-color: blue;
    text-align: center;
}
h2 {
    margin-top: 50px;
}